@page "/about-us"
<PageTitle>SOAR - About us</PageTitle>
<h1 class="text-center page-header">About us</h1>

<div class="d-flex flex-column gap-5 m-4">
    <BoxShadowContainer>
        <p class="indent">
            Sustainable Oceans and Reefs, is a pioneering organization dedicated to advancing marine conservation
            through innovative approaches. Focused on the development of in situ rearing mariculture systems, SOAR
            aims to
            harness the potential of sea urchins for restorative purposes. By carefully cultivating urchins in their
            natural
            habitats, SOAR seeks to contribute to the enhancement of marine ecosystems, particularly coral reefs,
            through the ecologically sound deployment of these sea creatures.
        </p>
    </BoxShadowContainer>
    <div style="height: 60vh; min-height: 400px;" class="p-5">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/RMkJbihPgH8?si=AA2B3TzH-MkgDBv7"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <BoxShadowContainer>
        <p class="indent">
            In addition to its mariculture initiatives, SOAR plays a vital role in supporting reef restoration
            research
            and practitioners through its contracting and consulting services. The organization collaborates with a
            diverse
            range of stakeholders, including scientists, environmentalists, and local communities, to facilitate
            comprehensive reef restoration projects. Through its multifaceted approach, SOAR is at the forefront of
            fostering environmental resilience and promoting the sustainable management of marine resources.
        </p>
    </BoxShadowContainer>
</div>

@code {

}
