@page "/about-us"
<PageTitle>SOAR - About us</PageTitle>
<h1 class="text-center page-header">About us</h1>

<div class="d-flex flex-column gap-4">
    <div class="d-flex flex-row gap-3 m-4 justify-content-center">
        <BoxShadowContainer Style="max-width: 40rem">
            <h2 class="text-center fw-bold">Mission</h2>
            <p class="indent">
                Our mission at SOAR is to incorporate collaborative approaches to achieve our overarching goal
                of conserving and restoring coral reefs and ultimately our oceans.
            </p>
            <p class="indent">
                We accomplish this by embracing sustainability, holistic perspectives, and partnerships with diverse stakeholders
                to drive positive change and ensure the long-term health, resilience, and well-being of these vital ecosystems.
            </p>
        </BoxShadowContainer>
@*         <div> *@
@*             <img src="/images/divers-under-water.jpg" style="max-width: 100%; height: auto; width: auto; max-height: 50vh; border: 2px solid black; *@
@*                     border-radius: 10px;"/> *@
@*         </div> *@
    </div>
    <hr/>
    <div class="d-flex flex-row gap-5 m-4 justify-content-center">
@*         <div> *@
@*             <img src="/images/divers-under-water.jpg" style="max-width: 100%; height: auto; width: auto; max-height: 50vh; border: 2px solid black; *@
@*                     border-radius: 10px;"/> *@
@*         </div> *@
        <BoxShadowContainer Style="max-width: 40rem">
            <h2 class="text-center fw-bold">Who we are</h2>
            <p class="indent">
                We are a pioneering organization dedicated to advancing marine conservation through innovative approaches.
            </p>
            <p class="indent">
                Focused on the development of in situ rearing mariculture systems, SOAR aims to harness the potential of sea
                urchins for restorative purposes.
            </p>
            <p class="indent">
                By carefully cultivating urchins in their natural habitats, SOAR seeks to contribute to the enhancement of
                marine ecosystems, particularly coral reefs, through the ecologically sound deployment of these sea creatures
            </p>
        </BoxShadowContainer>
    </div>
    <hr/>
    <h2 class="text-center fw-bold">Meet our team</h2>
    <div class="d-flex flex-row gap-3 m-4 justify-content-center flex-wrap">
        <TeamMemberInfo Name="Jim Brittsan" ImagePath="/images/Jim.JPG" Title="Founder"></TeamMemberInfo>
        <TeamMemberInfo Name="Braden Terry" ImagePath="/images/Braden.JPG" Title="President,<br/>Board of Directors"></TeamMemberInfo>
        <TeamMemberInfo Name="Jarrod Kidwell" ImagePath="/images/Jarrod.JPG" Title="Vice President,<br/>Board of Directors"></TeamMemberInfo>
        <TeamMemberInfo Name="Zach Scheel" ImagePath="/images/Zach.JPG" Title="Treasurer,<br/>Board of Directors"></TeamMemberInfo>
    </div>
</div>
