@page "/contribute"
<PageTitle>SOAR - Contribute</PageTitle>
<h1 class="text-center page-header">Contribute</h1>

<div class="text-center">
    <p>
        We would greatly appreciate any donations you would like to provide us with.
        <ul>
            <li>You can donate to us <a href="https://www.paypal.com/donate?business=info@oceansandreefs.org" target="_blank" style="font-weight: bold; text-decoration: underline;">donate to us through PayPal</a>.</li>
            <li>
                You can volunteer with us and help contribute hands on!
                If you have any interest in volunteering with us you can <a href="mailto:info@oceansandreefs.org" style="font-weight: bold; text-decoration: underline;">send us an email</a>.
            </li>
        </ul>
    </p>
</div>