@page "/get-involved"
<PageTitle>SOAR - Get Involved</PageTitle>
<h1 class="text-center page-header">Get Involved</h1>

<div class="d-flex flex-column gap-4 m-3">
    <div>
        <img src="/images/2022 Looe Key-1310163.png" style="max-width: 100%; height: auto; width: auto; max-height: 50vh; border: 2px solid black;
                     border-radius: 10px; display: block; margin-left: auto; margin-right: auto;"/>
    </div>

    <div class="d-flex flex-row gap-5 m-4 justify-content-center flex-wrap">
        <div class="p-3" style="border: 1px solid black; border-radius: 10px; box-shadow: 5px 5px 5px">
            <h2 class="text-center text-decoration-underline">Volunteer</h2>
            <p class="indent" style="max-width: 20rem">
                If you are interested in volunteering with us in the Florida Keys
                please <a href="mailto:info@oceansandreefs.org?subject=Volunteer" style="font-weight: bold; text-decoration: underline;">send us an email</a>.
            </p>
        </div>
        <div class="p-3" style="border: 1px solid black; border-radius: 10px; box-shadow: 5px 5px 5px">
            <h2 class="text-center text-decoration-underline">Follow us on Instagram</h2>
            <a href="https://www.instagram.com/sustainableoceanandreefs/" target="_blank">
                <div class="text-center">@@sustainableoceanandreefs</div>
                <div class="text-center">
                    <img src="/images/InstagramLogo.jpg" style="max-height: 20vh" alt="Instagram logo"/>
                </div>
            </a>
        </div>
    </div>

    <div class="d-flex flex-row flex-wrap gap-4 pb-5">
        <img src="/images/2022 Looe Key-1310153.png" style="max-width: 100%; height: auto; width: auto; max-height: 50vh; border: 2px solid black;
                     border-radius: 10px; display: block; margin-left: auto; margin-right: auto;"/>
        <img src="/images/2022 Looe Key-1310170.png" style="max-width: 100%; height: auto; width: auto; max-height: 50vh; border: 2px solid black;
                     border-radius: 10px; display: block; margin-left: auto; margin-right: auto;"/>
        <img src="/images/diadema section.png" style="max-width: 100%; height: auto; width: auto; max-height: 50vh; border: 2px solid black;
                     border-radius: 10px; display: block; margin-left: auto; margin-right: auto;"/>
    </div>
</div>