@page "/get-involved"
<PageTitle>SOAR - Contribute</PageTitle>
<h1 class="text-center page-header">Contribute</h1>

<div class="d-flex flex-row gap-3 m-4 justify-content-center flex-wrap">
    <div>
        <h2 class="text-center">Volunteer</h2>
        <p class="indent" style="max-width: 50vw">
            If you are interested in volunteering with us in the Florida Keys
            please <a href="mailto:info@oceansandreefs.org" style="font-weight: bold; text-decoration: underline;">send us an email</a>.
        </p>
    </div>
    <div>
        <h2 class="text-center">Follow us on Instagram</h2>
        <div class="text-center">
            <img src="/images/InstagramLogo.jpg" style="max-height: 20vh"/>
        </div>
    </div>
</div>