@page "/"

<div class="page-header container text-center pb-5">
    <img src="/images/soar-logo.png" />
</div>

<div class="d-flex flex-column m-4 gap-5 p-5">
    <BoxShadowContainer>
        <h2 class="text-center pb-2">Conserving and Restoring Coral Reefs.</h2>
        <p class="indent">
            Our mission at SOAR is to incorporate collaborative approaches to achieve our overarching goal
            of conserving and restoring coral reefs and ultimately our oceans. We accomplish this by embracing
            sustainability, holistic perspectives, and partnerships with diverse stakeholders to drive positive
            change and ensure the long-term health, resilience, and well-being of these vital ecosystems.
        </p>
        <div class="d-flex justify-content-end">
            <MudButton ButtonType="ButtonType.Button" Color="Color.Primary" Variant="Variant.Filled">
                <a href="/about-us" style="color: var(--primary-color-100);">Learn more</a>
            </MudButton>
        </div>
    </BoxShadowContainer>
    <div class="d-flex flex-row justify-content-evenly flex-wrap-reverse">
        <BoxShadowContainer Style="max-width: 30vw; vertical-align: center; margin: auto;">
            <p style="font-size: 2.5rem; font-weight: bold;">
                Ready to take the next step?
            </p>
            <p style="font-size: 1.5rem;">You can become a contributor to our cause.</p>
            <div class="d-flex justify-content-end">
                <MudButton ButtonType="ButtonType.Button" Color="Color.Primary" Variant="Variant.Filled">
                    <a href="/contribute" style="color: var(--primary-color-100);">Find out how</a>
                </MudButton>
            </div>
        </BoxShadowContainer>
        <div>
            <img src="/images/divers-under-water.jpg" style="height: 900px; min-height: 400px;
                    max-height: 80vh; max-width: 90vw; border: 2px solid black;
                    border-radius: 10px;"/>
        </div>
    </div>
</div>
