@inherits LayoutComponentBase

<div class="page">
    <main>
        <NavMenu />
        <article class="container">
            @Body
        </article>
    </main>
    <footer class="footer">
        <span>SOAR &copy - @DateTime.UtcNow.Year</span>
        <div class="float-end">
            <div class="d-flex flex-column">
                <span>Follow Us</span>
                <span class="d-flex flex-row align-items-center justify-content-center">
                    <a class="fa-brands fa-square-instagram text-decoration-none" style="color: purple;"
                        href="https://www.instagram.com/sustainableoceanandreefs" target="_blank"></a>
                </span>
            </div>
        </div>
    </footer>
</div>
