@inherits LayoutComponentBase
<div class="page">
    <main>
        <NavMenu />
        <article class="container">
            @Body
        </article>
    </main>
    <footer class="footer">
        SOAR &copy; - @DateTime.UtcNow.Year
    </footer>
</div>
