@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start"
            OnClick="@((e) => DrawerToggle())" />
        <MudText Typo="Typo.h5" Class="ml-3">SOAR</MudText>
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2"
        Variant="DrawerVariant.Temporary">
        <NavMenu CloseDrawer="@(() => CloseDrawer())" />
    </MudDrawer>
    <MudMainContent>
        <div class="page">
            <main>
                @Body
            </main>
            <footer class="footer">
                <span>Sustainable Ocean and Reefs &copy @DateTime.UtcNow.Year</span>
                <div class="float-end d-flex flex-column gap-3">
                    <span>Follow Us</span>
                        <span class="d-flex flex-row align-items-center justify-content-center">
                            <a class="fa-brands fa-square-instagram fa-xl text-decoration-none"
                                href="https://www.instagram.com/sustainableoceanandreefs" target="_blank"></a>
                        </span>
                </div>
            </footer>
        </div>
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = false;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    private void CloseDrawer()
    {
        _drawerOpen = false;
        StateHasChanged();
    }
}