<ul id="nav-list">
  <li class="nav-item">
    <NavLink ActiveClass="active" Match="NavLinkMatch.All" class="nav-link" href="/" @onclick="CloseDrawer">
      Home
    </NavLink>
  </li>
  <li class="nav-item">
    <NavLink ActiveClass="active" Match="NavLinkMatch.All" class="nav-link" href="/about-us" @onclick="CloseDrawer">
      About us
    </NavLink>
  </li>
  <li class="nav-item">
    <NavLink ActiveClass="active" Match="NavLinkMatch.All" class="nav-link" href="/partners" @onclick="CloseDrawer">
      Partners
    </NavLink>
  </li>
  <li class="nav-item">
    <NavLink ActiveClass="active" Match="NavLinkMatch.All" class="nav-link" href="/get-involved" @onclick="CloseDrawer">
      Get Involved
    </NavLink>
  </li>
</ul>

@code {
  [Parameter, EditorRequired]
  public Action CloseDrawer { get; set; } = null!;
}