<ul id="nav-list">
  <li class="nav-item">
    <NavLink ActiveClass="active" Match="NavLinkMatch.All" class="nav-link" href="/" @onclick="CloseDrawer">Home</NavLink>
  </li>
  <li class="nav-item">
    <NavLink ActiveClass="active" Match="NavLinkMatch.All" class="nav-link" href="/about-us" @onclick="CloseDrawer">About Us</NavLink>
  </li>
</ul>

@code {
  [Parameter, EditorRequired]
  public Action CloseDrawer { get; set; } = null!;
}