<ul class="nav flex-column">
  <li class="nav-item">
    <NavLink ActiveClass="active" class="nav-link" href="/" @onclick="CloseDrawer">Home</NavLink>
  </li>
  <li class="nav-item">
    <NavLink ActiveClass="active" class="nav-link" href="/learn-more" @onclick="CloseDrawer">Learn More</NavLink>
  </li>
</ul>

@code {
  [Parameter, EditorRequired]
  public Action CloseDrawer { get; set; } = null!;
}