<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SOAR</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <NavLink ActiveClass="active" class="nav-link" href="/">Home</NavLink>
        </li>
        <li class="nav-item">
          <NavLink ActiveClass="active" class="nav-link" href="/learn-more">Learn More</NavLink>
        </li>
      </ul>
    </div>
  </div>
</nav>